.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.lesshst
.local/
.mozilla/
.pki/
.pp_backup/
.profile
.selected_editor
.sudo_as_admin_successful
.viminfo
.wget-hsts
.xsession-errors
.xsession-errors.old
.zed_server/
Bookshelf/
Joplin_Notes/
Pictures/
__pycache__/
cron.log
docker-compose.yml
picframe_data/
rclone_last_sync.log
trilium-data/
venv_picframe/
venv_web/
.*
